<div class="container py-5">
  <div class="row">
    <div class="col-lg-3 mb-4">
       </div>

    <div class="col-lg-9">
      <h3 class="fw-bold mb-4">Şifre Değiştirme</h3>
      <div class="card border-0 p-4 shadow-sm rounded-4">
        <form (ngSubmit)="onChangePassword()">
          
          <div class="mb-3">
            <label class="form-label fw-bold small text-muted">Mevcut Şifre</label>
            <input type="password" [(ngModel)]="passObj.currentPassword" name="current" class="form-control form-control-lg bg-light border-0">
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold small text-muted">Yeni Şifre</label>
            <input type="password" [(ngModel)]="passObj.newPassword" name="new" class="form-control form-control-lg bg-light border-0">
          </div>

          <div class="mb-4">
            <label class="form-label fw-bold small text-muted">Yeni Şifre (Tekrar)</label>
            <input type="password" [(ngModel)]="passObj.confirmPassword" name="confirm" class="form-control form-control-lg bg-light border-0">
          </div>

          <button type="submit" class="btn btn-primary px-5 py-3 rounded-3 fw-bold">
            Şifreyi Güncelle
          </button>

        </form>
      </div>
    </div>
  </div>
</div>